<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>식집사 게시판</title>
</head>
    <style>
        .layout{
            width: 500px;
            margin: 0 auto;
            margin-top: 40px;
        }
    </style>
<body>
<div class="layout">
    <table>
        <thead>
        <tr>
            <th>글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <tr th:each="board : ${list}">
            <td th:text="${board.id}">게시글 번호</td>
            <td><a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">게시글 제목</a></td>
            <td th:text="${board.memberName}">작성자</td>
            <td th:text="${board.boardDate}">작성날짜</td>
        </tr>
        </tr>
        </tbody>
    </table>
    <hr>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
        <strong  th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
    <form th:action="@{/board/list}" method="get" >
        <input type="text" name="searchKeyword">
        <button type="submit">검색</button>
    </form>
    <br>
    <a href="/board/write">게시글 작성하기</a>
</div>
</body>
</html>