<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정</title>
</head>
<style>
  .layout{
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
  }
</style>
<body>
<div class="layout">
  <form th:action="@{/board/update/{id}(id = ${board.id})}" method="post">
    <div class="mb-3">
      <label for="exampleFormControllInput1" class="form-label">제목</label>
      <input type="text" name="title" id="exampleFormControllInput1" th:value="${board.title}">
    </div>
    <br>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">내용</label>
      <textarea id="exampleFormControlTextarea1" name="content" rows="5" th:text="${board.content}"></textarea>
    </div>
    <button type="submit">수정</button>
  </form>
</div>
</body>
</html>