<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>save</title>
  <!-- jquery cdn -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>
<body>
<!-- action속성: form에 작성한 데이터를 어디로 보낼지 지정 -->
<form action="/PlantsPlanet/save" method="post">
  <!-- name속성: 서버로 전송할 때 변수이름의 역할 -->
  이메일: <input type="text" id="memberEmail" onkeyup="emailCheck()" name="memberEmail"> <br>
  <!-- 이메일 체크 -->
  <p id="emailCheck-result"></p>
  비밀번호: <input type="password" name="memberPassword"> <br>
  <!-- 몇자리 이상, 영어 숫자 등 조건 추가 가능할까요 -->
  닉네임: <input type="text" id="memberName" onkeyup="nameCheck()" name="memberName"> <br>
  <p id="nameCheck-result"></p>
  <!-- 이하 추가 입력사항 -->
  생년월일(yymmdd): <input type="text" name="memberBirth"><br>
  휴대폰 번호: <input type="text" name="memberNum"> <br>
  <input type="submit" value="회원가입">

</form>
</body>

<script thLinline="javascript">
  // 디비에서 이메일 중복 확인
  const emailCheck=()=>{
    const email=document.getElementById("memberEmail").value;
    const emailCheckResult=document.getElementById("emailCheck-result");
    $.ajax({
      // 요청방식: post, url: "email-check", 데이터: 이메일
      type:"post",
      url:"/PlantsPlanet/email-check",
      data: {"memberEmail": email},
      success : function(res){
        if(res=="ok"){
          emailCheckResult.innerHTML="사용가능한 이메일입니다.";
        } else {
          emailCheckResult.innerHTML="이미 사용중인 이메일입니다.";
        }
      },
      error: function(err){}
    });

    <!-- 이미 사용중인 이메일이면 회원가입 안되게 막아주세요 -->
  }
  const nameCheck=()=>{
    const name=document.getElementById("memberName").value;
    const nameCheckResult=document.getElementById("nameCheck-result");
    $.ajax({
      // 요청방식: post, url: "name-check", 데이터: mamberName
      type:"post",
      url:"/PlantsPlanet/name-check",
      data: {"memberName": name},
      success : function(res){
        if(res=="ok"){
          nameCheckResult.innerHTML="사용가능한 닉네임입니다.";
        } else {
          nameCheckResult.innerHTML="이미 사용중인 닉네임입니다.";
        }
      },
      error: function(err){}
    });
    <!-- 이미 사용중인 닉네임이면 회원가입 안되게 막아주세요 -->
  }
</script>
</html>