<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grup 크롤링 페이지</title>
</head>
<body>
<h1>검색 결과 : <span th:text="${search.searchName}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Store Title</th>
        <th>Store Name</th>
        <th>Price</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.storeTitle}"></td>
        <td th:text="${product.storeName}"></td>
        <td th:text="${product.price}"></td>
        <td><img th:src="${product.imageUrl}" alt="product image" /></td>
    </tr>
    </tbody>
</table>
</body>
</html>